<div class="main">
  <div class="products-list">
    @for (prd of productList; track $index) {
    <div class="product-card" [routerLink]="['/product', prd.id]">
      <div class="card-image">
        <img
          [src]="prd.images?.[0] || 'https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-18055.jpg'"
        />
      </div>
      <div class="card-content">
        <div class="top">
          <p class="card-title">{{ prd.name }}</p>
          @if(prd.discount){
          <div class="discount">
            <p class="card-price discount-price">${{ prd.price }}</p>
            <p class="card-price">
              ${{ getDiscountPrice(prd.price, prd.discount) }}
            </p>
          </div>
          }@else {
          <p class="card-price">${{ prd.price }}</p>
          }
        </div>
        <div class="desc">
          {{ prd.description }}
        </div>
        <div class="bottom">
          <div class="stars">
            <span class="rating">{{
              roundToNearestHalf(prd.average_rating)
            }}</span>
            @if(prd.average_rating){ @for (star of getStars(prd.average_rating);
            track $index) {
            <i [ngClass]="star"></i>
            } }
          </div>
        </div>
        <button class="add-cart-button" (click)="addToCart(prd, $event)">
          Sepete Ekle
        </button>
      </div>
    </div>
    }
  </div>

  <div class="pagination">
    <div class="pageNumbers">
      @for (item of getPageArray(); track $index) {
      <button
        class="pageNumber"
        (click)="changePage(item)"
        [ngClass]="this.selectedPage === item ? 'active' : ''"
      >
        {{ item }}
      </button>
      }
    </div>
  </div>
</div>
<app-loader></app-loader>
