.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
  padding: 40px;
}

.products-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  max-width: 1200px;
}

.product-card {
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
  &:hover {
    transform: translateY(-10px);
  }
}

.card-image {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 250px;

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    object-position: center;
  }
  i {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    color: red;
    cursor: pointer;
    transition: color 0.3s ease-in-out;

    &:hover {
      color: darkred;
    }
  }
}

.card-content {
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 50px;
    .card-title {
      font-size: 18px;
      font-weight: bold;
    }
    .card-price {
      font-size: 16px;
      font-weight: bold;
      color: var(--green-color);

      &.discount-price {
        color: red;
        text-decoration: line-through;
      }
    }
  }
  .desc {
    font-size: 14px;
    color: var(--font-color);
    line-height: 1.4;
  }
  .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin-top: 15px;
    .stars {
      color: gold;
      font-size: 14px;

      &:hover .rating {
        opacity: 1;
      }

      .rating {
        opacity: 0;
        font-size: 12px;
        position: absolute;
        top: -20px;
        background-color: var(--border-color);
        color: #fff;
        font-weight: bold;
        padding: 0 5px;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  .pageNumbers {
    display: flex;
    gap: 8px;

    .pageNumber {
      background: #fff;
      border: 1px solid #ddd;
      color: #4caf50;
      padding: 8px 12px;
      font-size: 16px;
      cursor: pointer;
      border-radius: 5px;
      transition: all 0.3s ease-in-out;

      &:hover {
        background: #388e3c;
        color: #fff;
      }

      &.active {
        background: #4caf50;
        color: white;
        font-weight: bold;
        border-color: #4caf50;
      }
    }
  }
}
