<div class="main">
  <div class="products-list">
    @for (prd of productList; track $index) {
    <div class="product-card">
      <div class="card-image">
        <i class="fa-solid fa-heart"></i>
        <img src="https://picsum.photos/500" />
      </div>
      <div class="card-content">
        <div class="top">
          <p class="card-title">{{ prd.name }}</p>
          @if(prd.discount){
          <div class="discount">
            <p class="card-price discount-price">${{ prd.price }}</p>
            <p class="card-price">
              ${{ getDiscountPrice(prd.price, prd.discount) }}
            </p>
          </div>
          }@else {
          <p class="card-price">${{ prd.price }}</p>
          }
        </div>
        <div class="desc">
          {{ prd.description }}
        </div>
        <div class="bottom">
          <div class="stars">
            <span class="rating">{{ prd.rating }}</span>
            @if(prd.rating){ @for (star of getStars(prd.rating); track $index) {
            <i [ngClass]="star"></i>
            } }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>
