<div class="main">
  <div class="container">
    <h3 class="main-title">Kategoriler</h3>
    <div class="categories">
      <div class="category">
        <div class="category-image">
          <img src="https://themewagon.github.io/kaira/images/cat-item2.jpg" />
        </div>
        <p class="category-title">Category 1</p>
      </div>
      <div class="category">
        <div class="category-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-2.jpg"
          />
        </div>
        <p class="category-title">Category 1</p>
      </div>
      <div class="category">
        <div class="category-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-10.jpg"
          />
        </div>
        <p class="category-title">Category 1</p>
      </div>
    </div>
  </div>
</div>
