<div class="navbar">
  <h1 class="brand">KAIRA</h1>
  <ul class="navbar-list">
    <li class="navbar-list-item">
      Home
      <i class="fa-solid fa-caret-down"></i>
      <ul class="dropdown">
        <li class="dropdown-item">Home1</li>
        <li class="dropdown-item">Home1</li>
        <li class="dropdown-item">Home1</li>
      </ul>
    </li>
    <li class="navbar-list-item">
      Shop
      <i class="fa-solid fa-caret-down"></i>
      <ul class="dropdown">
        <li class="dropdown-item">Shop1</li>
        <li class="dropdown-item">Shop1</li>
        <li class="dropdown-item">Shop1</li>
      </ul>
    </li>
    <li class="navbar-list-item">
      Blog
      <i class="fa-solid fa-caret-down"></i>
    </li>
    <li class="navbar-list-item">
      Pages
      <i class="fa-solid fa-caret-down"></i>
    </li>
    <li class="navbar-list-item">
      Contanct
      <i class="fa-solid fa-caret-down"></i>
    </li>
  </ul>
  <div class="personal">
    <div class="wish">Wishlist(0)</div>
    <div class="cart">Cart(0)</div>
    <div class="search">
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
</div>
