<div class="main">
  <div class="container">
    <h3 class="main-title">Çok satanlar</h3>
    <div class="items">
      <div class="item">
        <div class="item-image">
          <div class="wish-icon">
            <i class="fa-regular fa-heart"></i>
          </div>
          <img
            src="https://themewagon.github.io/kaira/images/product-item-3.jpg"
          />
        </div>
        <div class="item-content">
          <p class="item-name">Baggy Shirt</p>
          <div class="price-cart">
            <p class="item-price">
              <i class="fa-solid fa-turkish-lira-sign"></i>350.00
            </p>
            <p class="add-cart">Add To Cart</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-3.jpg"
          />
        </div>
        <div class="item-content">
          <p class="item-name">Baggy Shirt</p>
          <div class="price-cart">
            <p class="item-price">
              <i class="fa-solid fa-turkish-lira-sign"></i>350.00
            </p>
            <p class="add-cart">Add To Cart</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-3.jpg"
          />
        </div>
        <div class="item-content">
          <p class="item-name">Baggy Shirt</p>
          <div class="price-cart">
            <p class="item-price">
              <i class="fa-solid fa-turkish-lira-sign"></i>350.00
            </p>
            <p class="add-cart">Add To Cart</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-3.jpg"
          />
        </div>
        <div class="item-content">
          <p class="item-name">Baggy Shirt</p>
          <div class="price-cart">
            <p class="item-price">
              <i class="fa-solid fa-turkish-lira-sign"></i>350.00
            </p>
            <p class="add-cart">Add To Cart</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-3.jpg"
          />
        </div>
        <div class="item-content">
          <p class="item-name">Baggy Shirt</p>
          <div class="price-cart">
            <p class="item-price">
              <i class="fa-solid fa-turkish-lira-sign"></i>350.00
            </p>
            <p class="add-cart">Add To Cart</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-3.jpg"
          />
        </div>
        <div class="item-content">
          <p class="item-name">Baggy Shirt</p>
          <div class="price-cart">
            <p class="item-price">
              <i class="fa-solid fa-turkish-lira-sign"></i>350.00
            </p>
            <p class="add-cart">Add To Cart</p>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="item-image">
          <img
            src="https://themewagon.github.io/kaira/images/product-item-3.jpg"
          />
        </div>
        <div class="item-content">
          <p class="item-name">Baggy Shirt</p>
          <div class="price-cart">
            <p class="item-price">
              <i class="fa-solid fa-turkish-lira-sign"></i>350.00
            </p>
            <p class="add-cart">Add To Cart</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
