<div class="main">
  <div class="product-image-side">
    <div class="product-image-selector">
      <div class="main-product-image">
        <img
          [src]="activeProduct.images?.[selectedIndex] || 'https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-18055.jpg'"
        />
      </div>
      <div class="image-photos">
        @for (photo of activeProduct.images; track $index) {
        <div class="image-photo">
          <img [src]="photo" (click)="changeMainImage($index)" />
        </div>
        }
      </div>
    </div>
    <div class="product-buttons">
      <div>
        <button class="product-button">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </button>
        <button class="product-button">
          <i class="fa-regular fa-heart"></i>
        </button>
      </div>
      <div>
        <button class="product-button">
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <button class="product-button">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="product-content-side">
    <div class="content-title">{{ activeProduct.name }}</div>
    <div class="content-price-stars">
      @if(activeProduct!.discount){
      <div class="discount-price">
        <div class="old-price">${{ activeProduct.price }}</div>
        <div class="price">
          ${{ getDiscountPrice(activeProduct.price, activeProduct.discount) }}
        </div>
      </div>
      }@else {
      <div class="price">${{ activeProduct.price }}</div>
      }
      <div class="star">
        <i class="fa-solid fa-star" style="color: orange"></i>
        <span>{{ roundToNearestHalf(activeProduct.average_rating) }}</span>
      </div>
    </div>
    <div class="desc">
      <span>Açıklama</span>
      <p>
        {{ activeProduct.description }}
        <span class="show-more">Daha fazla...</span>
      </p>
    </div>
    <app-star-rating
      [rating]="5"
      (ratingChange)="onRate($event)"
      style="margin: 20px 0"
    ></app-star-rating>
    <button class="main-button">Sepete Ekle</button>
  </div>
</div>

@if (similarProducts.length > 0) {
<div class="similar-products">
  <h3>Benzer Ürünler</h3>
  <div class="products-list">
    @for (prd of similarProducts; track $index) {
    <div class="product-card" [routerLink]="['/product', prd.id]">
      <div class="card-image">
        <img
          [src]="prd.images?.[0] || 'https://img.freepik.com/premium-vector/no-photo-available-vector-icon-default-image-symbol-picture-coming-soon-web-site-mobile-app_87543-18055.jpg'"
        />
      </div>
      <div class="card-content">
        <p class="card-title">{{ prd.name }}</p>
        <p class="card-price">${{ prd.price }}</p>
      </div>
    </div>
    }
  </div>
</div>
}

<app-comments [productId]="activeProduct.id"></app-comments>

<app-loader></app-loader>
