<div class="main">
  <div class="product-image-side">
    <div class="product-image-selector">
      <div class="main-product-image">
        <img src="https://picsum.photos/500" />
      </div>
      <div class="image-photos">
        <div class="image-photo">
          <img src="https://picsum.photos/500" />
        </div>
        <div class="image-photo">
          <img src="https://picsum.photos/500" />
        </div>
        <div class="image-photo">
          <img src="https://picsum.photos/500" />
        </div>
        <div class="image-photo">
          <img src="https://picsum.photos/500" />
        </div>
      </div>
    </div>
    <div class="product-buttons">
      <div>
        <button class="product-button">
          <i class="fa-solid fa-arrow-up-from-bracket"></i>
        </button>
        <button class="product-button">
          <i class="fa-regular fa-heart"></i>
        </button>
      </div>
      <div>
        <button class="product-button">
          <i class="fa-solid fa-angle-left"></i>
        </button>
        <button class="product-button">
          <i class="fa-solid fa-angle-right"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="product-content-side">
    <div class="content-title">Lorem ipsum dolor sit amet lorem base</div>
    <div class="content-price-stars">
      <div class="price">$63.00</div>
      <div class="star">
        <i class="fa-solid fa-star" style="color: orange"></i>
        <span>4.5</span>
      </div>
    </div>
    <div class="desc">
      <span>Açıklama</span>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Molestiae
        corporis quisquam repellat earum illo, quae dolores unde eveniet ipsa
        fugit? <span class="show-more">Daha fazla...</span>
      </p>
    </div>
    <button class="main-button">Sepete Ekle</button>
  </div>
</div>
