:root {
  --bg-color: #f1f1f0;
  --gray-font-color: #8f8f8f;
  --font-color: #111111;
  --border-color: rgb(221, 221, 221);
  --green-color: #8c907e;
}

.main-button {
  background-color: #212529;
  padding: 8px 16px;
  color: #fff;
}

.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
}

@media screen and (max-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (max-width: 600px) {
  .container {
    max-width: 540px;
  }
}
