.product-form {
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  margin: 50px auto;

  h2 {
    text-align: center;
    color: var(--font-color);
    margin-bottom: 15px;
  }

  .form-group {
    margin-bottom: 15px;

    label {
      font-weight: bold;
      display: block;
      margin-bottom: 5px;
      color: var(--green-color);
    }

    input,
    textarea {
      width: 100%;
      padding: 10px;
      border: 1px solid var(--border-color);
      border-radius: 5px;
      font-size: 14px;
      transition: 0.3s;

      &:focus {
        border-color: var(--green-color);
        outline: none;
        box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
      }
    }

    textarea {
      resize: vertical;
      height: 80px;
    }
  }

  .form-row {
    display: flex;
    gap: 10px;

    .form-group {
      flex: 1;
    }
  }

  .image-upload {
    .image-preview-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;

      .upload-box {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
        border: 2px dashed var(--border-color);
        border-radius: 5px;
        cursor: pointer;
        text-align: center;
        background: var(--bg-color);
        color: var(--font-color);
        font-weight: bold;

        &:hover {
          border-color: var(--border-color);
        }
      }

      .image-preview {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;

        .image-container {
          position: relative;

          img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            border-radius: 5px;
            border: 1px solid var(--border-color);
          }

          .remove-btn {
            position: absolute;
            top: -5px;
            right: -5px;
            background: red;
            color: white;
            border: none;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            font-size: 12px;
            cursor: pointer;
          }
        }
      }
    }
  }

  .submit-btn {
    width: 100%;
    background: var(--green-color);
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
}
